@import "../../constants/_variables.scss";

.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .title {
    &.light {
      color: $black;
    }
    &.dark {
      color: $white;
    }
  }
  .filters {
    margin: 10px 0;
    &.light {
      .checkbox-container {
        color: $black;
      }
    }
    &.dark {
      .checkbox-container {
        color: $white;
      }
    }
  }
}
